<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VehicleView</servlet-name>
  	<display-name>VehicleView</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.VehicleView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingServlet</servlet-name>
  	<display-name>BookingServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.BookingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillingServlet</servlet-name>
  	<display-name>BillingServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.BillingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeedbackServlet</servlet-name>
  	<display-name>FeedbackServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCustomer</servlet-name>
  	<display-name>ViewCustomer</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.ViewCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update_Delete_VehicleServlet</servlet-name>
  	<display-name>Update_Delete_VehicleServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.Update_Delete_VehicleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete_VehicleServlet</servlet-name>
  	<display-name>Delete_VehicleServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.Delete_VehicleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete_CustomerServlet</servlet-name>
  	<display-name>Delete_CustomerServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.Delete_CustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Add_VehicleServlert</servlet-name>
  	<display-name>Add_VehicleServlert</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.Add_VehicleServlert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewFeedbackServlet</servlet-name>
  	<display-name>ViewFeedbackServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.ViewFeedbackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBookingServlet</servlet-name>
  	<display-name>ViewBookingServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinte.vehiclehiringsystem.servlet.ViewBookingServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VehicleView</servlet-name>
  	<url-pattern>/VehicleView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingServlet</servlet-name>
  	<url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillingServlet</servlet-name>
  	<url-pattern>/BillingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeedbackServlet</servlet-name>
  	<url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCustomer</servlet-name>
  	<url-pattern>/ViewCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update_Delete_VehicleServlet</servlet-name>
  	<url-pattern>/Update_Delete_VehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete_VehicleServlet</servlet-name>
  	<url-pattern>/Delete_VehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete_CustomerServlet</servlet-name>
  	<url-pattern>/Delete_CustomerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Add_VehicleServlert</servlet-name>
  	<url-pattern>/Add_VehicleServlert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewFeedbackServlet</servlet-name>
  	<url-pattern>/ViewFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBookingServlet</servlet-name>
  	<url-pattern>/ViewBookingServlet</url-pattern>
  </servlet-mapping>
</web-app>
